<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.geckotang.a-sudden-death</string>
	<key>connections</key>
	<dict>
		<key>89C71659-4B5C-427E-AD15-B268EC2EB2AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5338CD1-B09E-487E-B0A7-72304A3B29C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EE044199-B16C-435A-92B7-E08DAD28F909</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BADB242A-2695-43F2-A133-2E7ED33AC1AD</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BADB242A-2695-43F2-A133-2E7ED33AC1AD</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>@GeckoTang</string>
	<key>description</key>
	<string>突然のAAの吹き出しを作ってクリップボードに入れます</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>突然のAlfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sd</string>
				<key>runningsubtext</key>
				<string>Please Wait...</string>
				<key>script</key>
				<string>$query = "{query}";
require_once("sd.php");</string>
				<key>subtext</key>
				<string>Enderで吹き出しをクリップボードへ、Cmd+EnterでTwitterへ</string>
				<key>title</key>
				<string>&gt;突然のAlfred&lt;</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>89C71659-4B5C-427E-AD15-B268EC2EB2AC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D5338CD1-B09E-487E-B0A7-72304A3B29C0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>クリップボードに入れました。</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>EE044199-B16C-435A-92B7-E08DAD28F909</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>https://twitter.com/intent/tweet?text={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BADB242A-2695-43F2-A133-2E7ED33AC1AD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>89C71659-4B5C-427E-AD15-B268EC2EB2AC</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>BADB242A-2695-43F2-A133-2E7ED33AC1AD</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>D5338CD1-B09E-487E-B0A7-72304A3B29C0</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>EE044199-B16C-435A-92B7-E08DAD28F909</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://geckotang.tumblr.com/</string>
</dict>
</plist>
